{% extends 'navbar2.html' %}
{% load static %}
{% block content %}
<!-- The Band Section -->
<div class="container"  id="band">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Cabbage Cultivation</h1>
					</header>
                                        <footer>
						<h3>About Cabbage</h3>
                                                <p>Cabbage is the oldest and most widely grown vegetable of the Brassica group, belonging to the mustard family. It is a biennial plant, producing its large, waxy leaves surrounding smaller compacted head leaves in the first year, and a flower stalk bearing yellow flowers in the second year.
                                                <img src="{% static 'images/29.jpg' %}" align="center" width="700" height="400"></p>
                                                <h3>Ecological Requirements</h3>
                                                <h3>Temperature</h3>
                                                <p>As a cool season crop, cabbage grows at a temperatures ranging from 0 to 25°C, with an optimum temperature range of 15 to 20°C.</p>
											   </div></div></div>
											                    <!-- The Tour Section -->
																<div class="w3-black" id="tour">
																	<div class="inner container">
												
												<h3>Soil</h3><img src="{% static 'images/5555.jpg' %}" align="center" width="800" height="500">
                                                <p>Cabbage may be grown on a variety of soils but it does best on a well- drained, loam soil well supplied with organic matter. Sandy loams are preferred for early crops. As cabbage is sensitive to soil acidity soil pH should be between 6.5 and 7.</p>
                                                                                              
                                                <h3>Irrigation</h3><img src="{% static 'images/30.jpg' %}" align="right" width="500" height="400"></p>
                                                 <p>Cabbage crops require a constant amount of water supply throughout the whole season in order to prevent the cracking of heads. Depending on the production site, an irrigation system should be in place. Soil type does not affect the amount of total water needed, but does dictate frequency of water application. Lighter soils need more frequent water applications, but less water is applied per application.</p>
                                                <h3>Suitable Varieties</h3>
                                                <p>Hybrid varieties dominate. White and red cabbage exist, but the white variety dominates the market. Various varieties are available that are resistant to heat, cold and a number of important diseases and physiological disorders. Choose varieties available on the local market carefully. Growth period differs from approximately 75 days for early varieties, 90 days for mid-season, to over 120 days for late large-headed varieties (from seed to maturity).</br></p>
                                                 <h3>Soil Nutrition and Organic Fertilization</h3>
                                                 <img src="{% static 'images/7.jpg' %}" align="right" width="500" height="500">
                                                 <h3>Fertilization</h3>
                                                 <p> If a mineral soil is below pH 6.3 or an organic soil is below 5.5  and/or the calcium (Ca) level is below 8 meq/100g soil lime should be applied. Compared to other vegetables, cabbage has a fairly high lime requirement. Lime should be mixed into the seedbed at least several weeks before seeding and preferably the preceding year. A lime application is effective over several years.</p>
                                                 <h3>Disease</h3>
                                                 <p>Cabbage plants are susceptible to physiological disturbances, diseases and pests.</br>Optimal site selection</br>Selection of pest and disease resistant varieties</br>Wide rotation</br>Creation of semi-natural habitats and ecological compensation areas</br>Improve soil fertility and activate soil microbial life</br>Balanced nutrient supply</p><img src="{% static 'images/32.jpeg' %}" align="center" width="400" height="200">
											   
												 <div class="w3-black" id="contact">
													<div class="inner container">
													
				  
												 <h3>Harvesting and Post-Harvest Handling</h3>
                                                <p>Cabbage for processing should be delivered to the processor as soon after harvest as possible. Heads should be harvested when firm and before they split or burst. In harvesting for fresh market, leave 4-6 wrapper leaves attached to the head. The wrapper leaves are usually removed when harvesting for kraut.</p><img src="{% static 'images/31.jpg' %}" align="center" width="700" height="500">   
                                                <h3>Storage</h3>
 						<p>Store cabbage at 0° C and a relative humidity of 98 to 100%. If stored under proper conditions late cabbage should keep for 5 to 6 months. The longest keeping cultivars belong to the Danish class. Early-crop cabbage, especially southern grown, has a storage life of 3 to 6 weeks. Cabbage is successfully held in common storage, where a fairly uniform inside air temperature of 0 to 1.6°C can be maintained.
											
						
							<div class="w3-black" id="link">
								<div class="inner container">
		
						<h3> REFERENCES</h3>
						<p>Websites<br>
							1.<a href="https://www.agrifarming.in/chinese-cabbage-farming" target="_blank">Cabbage Cultivation
							 </a><br>
						</p>    
						<img src="{% static 'images/refer.jpg' %}" align="center" width="500" height="160">
						<h3>Youtube Link's</h3>
						<iframe  src="https://www.youtube.com/embed/cNDvtCF1Gy4"></iframe>
						<iframe  src="https://www.youtube.com/embed/hfmrf4M4WeY"></iframe>
						<iframe src="https://www.youtube.com/embed/Y9-8I1x9-kk"></iframe>
						<iframe src="https://www.youtube.com/embed/uznVqJLSZZg"></iframe>
						</p>
		
						
						</footer>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}