{% extends 'navbar2.html' %}
{% load static %}
{% block content %}
<!-- The Band Section -->
<div class="container"  id="band">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Coriander Cultivation</h1>
					</header>
                                        <footer>
						<h3>About Coriander</h3>
                                                 <p>Coriander is an annual herb plant used as a spice in kitchen. It is mostly grown for its fruit and green leaves to provide flavor in dishes. Dry seeds of coriander contain essential oils which are used in confectionary, to mask offensive odours in pharmaceutical industry and for flavoring liquors. Green leaves are good source of Vitamin C and are used for making chutney, soups and sauces etc. Coriander also has good medicinal value. Tamil Nadu, Karnataka, Madhya Pradesh and Rajasthan are major producers of Coriander in India.</p>
                                                <img src="{% static 'images/61.jpg' %}" align="center" width="500" height="500">
                                                <h3>Climate</h3>
                                                <p>Temperature - 15-28°C</br>Rainfall - 75-100mm</br>Harvesting Temperature - 15-25°C</br>Sowing Temperature - 22-28°C</p>
                                      </div></div></div>
                                      <!-- The Tour Section -->
<div class="w3-black" id="tour">
        <div class="inner container">
    
                                                <h3>Soil</h3><img src="{% static 'images/5555.jpg' %}" align="center" width="1000" height="500">
                                                <p>It can grow in all types of soil but well drained loamy soils are suitable for good growth. pH range of soil should be 8-10.</p>
                                                <h3>Land Preparation</h3>
                                                <p>Land should be prepared well by giving 2-3 deep ploughing followed by planking to make uniform and leveled beds. Before last ploughing, add 40qtl/acre of well decomposed cow dung in soil.</p>
                                                <h3>Sowing</h3><img src="{% static 'images/62.png' %}" align="right" width="700" height="500">
                                                <h3>Time of sowing</h3>
                                                <p>For vegetable purpose, optimum time for sowing is first week of October and when grown for seed purpose, complete sowing in last week of October to first week of November</p>
                                                <h3>Spacing</h3><p>Keep row to row distance of 30 cm and plant to plant spacing of 15 cm.</p>
                                                <h3>Sowing Depth</h3>
                                                <p>Depth of soil should not more than 3 cm.</p>
                                                <h3>Weed Control</h3>
                                                <p>At initial growth stage of coriander, weed is a serious problem. Take one or two weeding operations to keep field weed free. Take first weeding 4week after sowing and second 5-6week after sowing.</p>
                                                <h3>Irrigation</h3><img src="{% static 'images/63.jpg' %}" align="center" width="400" height="600">
                                                <p>Irrigation should be given according to soil moisture present in the soil. First irrigation should be given immediately after sowing of seeds. Subsequent irrigations should be given at 10 to 12days interval.</p>
                                                <div class="w3-black" id="contact">
                                                        <div class="inner container">
                                          
                                      
                                                <h3>Plant Protection</h3>
 						<h3>Pest and their control</h3><img src="{% static 'images/64.webp' %}" align="right" width="800" height="500">
                                                <p>The two diseases that can occasionally be a problem are leaf spot and powdery mildew.</br>Leaf Spot: small yellow spots that in time turn into large brown spots. It is caused by too much moisture and not enough air circulation, so it can be prevented by growing your cilantro in well-drained soil and not over-watering each plant.</br>Powdery Mildew: appears as a white, powdery coating on the cilantro leaves during hot, dry periods. You can help to prevent it by keeping your plants from drying out and removing any plant that becomes infected.</p>
                                                <h3>Harvesting:</h3>
                                                <p>When crop attained 20-25 cm height harvesting for green leaves can be started. Three to four cutting can be taken. When crop is grown for seed purpose, it is ready for harvesting in April month. Harvest when capsule gets matures but having green color. Over ripe capsule fetch lower price.<p>
                                                <h3>Post-Harvest</h3>
                                                <p>After harvesting allowed crop to dry in sunlight for 6-7 days. After proper drying, carry out threshing after then cleaning operation.</p>
                                              
                                                <div class="w3-black" id="link">
                                                        <div class="inner container">
                                
                                                <h3> REFERENCES</h3>
                                                <p>Websites<br>
                                                    1.<a href="https://tamil.asianetnews.com/agriculture/grow-the-coriander-cultivation-in-natural-way" target="_blank">கொத்தமல்லி சாகுபடியை இயற்கை முறையில்...

                                                </a>
                                                </p>    
                                                <img src="{% static 'images/refer.jpg' %}" align="center" width="500" height="160">
                                                <h3>Youtube Link's</h3>
                                                <iframe  src="https://www.youtube.com/embed/snKnO2Tr7BY"></iframe>
                                                <iframe  src="https://www.youtube.com/embed/dmgtpORDwOM"></iframe>
                                                <iframe src="https://www.youtube.com/embed/U53AAIM5BFg"></iframe>
                                                <iframe src="https://www.youtube.com/embed/GANe3GN46Eo"></iframe>
                                                </p>
                                             
                    
                                        </footer>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}