{% extends 'navbar2.html' %}
{% load static %}
{% block content %}
<!-- The Band Section -->
<div class="container"  id="band">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Cucumber Cultivation</h1>
					</header>
                                        <footer>
						<h3>About Cucumber</h3>
                                                <p>Cucumbers (Cucumis sativus L.) are grown for eating fresh or preserving as pickles. Cucumbers have two different flowers, male and female. Male flowers open first and always drop off. Female flowers form the cucumber should not drop off. Therefore it is important to have honey bees or bumblebees near the field that pollinate the flowers and improve fruit formation. Cucumbers are vining plants, members of the Cucurbita family that includes pumpkins, squash, and gourds. They grow best when allowed to sprawl along the ground on the seeding bed. This is because secondary roots will develop along the vine at the junction between the vine and the leaf. Secondary roots are a source of additional nutrients for plants and fruits.</p>
                                                <img src="{% static 'images/46.jpg' %}" align="center" width="1000" height="700"></p>
                                                <h3>Ecological Requirements</h3>
                                                <p>Cucumbers must be grown in warm temperatures and full sunlight; avoid planting cucumbers in the rainy seasons and on very windy areas. They mature quickly and are well suited to field growth. Cucumbers do best in loose, sandy loam soil but can be grown in any well drained soil with a pH 6.0 to 7.3.</br>
</p>
                                                <h3>Organic Cucumber Production</h3>
                                                <p>Before preparing the soil, all big rocks and large sticks have to be removed from the soil. Residues of plant materials have to be incorporated into the soil at least 4 weeks before planting or seeding. Weeds have to be regulated before planting cucumbers with a superficial soil tillage (harrow). Good preparation of the seed bed is important because cucumbers root in very shallow soil. The soil has to be worked into beds 10 to 15 cm high and at least 1.50 to 3.0 m apart. Ridges are especially important in heavy soils and poorly drained areas because cucumbers must have good drainage.</p>
                                                </div></div></div>
  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
        <div class="inner container">

                                                <h3>Suitable Varieties</h3>
                                                <p>There is a vast diversity of cucumber varieties that can be used for growing. Organic growers select the most disease resistant varieties (e.g. powdery mildew) and those varieties with good yield and good quality properties. Generally, two types of cucumbers are grown. Slicing types get 15 to 20 cm long and 3 cm or more in diameter when mature. Pickling types are 8 to 10 cm long and up to 2.5 cm in diameter at maturity. Both types can be used for pickling if picked when small.</p>                                                                                              
                                                <h3>Design of Plantation</h3><img src="{% static 'images/47.jpg' %}" align="right" width="500" height=500"></p>
                                                 <p>Since cucumber is a vine crop, it requires a lot of space. Vines can reach 2 to 3 m or more. Field cucumbers can spread out on the ground. Three seeds of cucumber can be deposited on the fields manually in each hole at the edge of the ridge. The final plant distance should be about 40 cm apart.</br>Cucumber requires high levels of nutrients. This must be taken into account in crop rotation. Preceding crops should leave enough soil nutrients for cucumber. Organic growers therefore select leguminous crops (e.g. pigeon pea), beans, or other vegetables as leek that have been grown after a green manure. The break between two cucumber crops within the crop rotation is at least 3 years.</p>
                                                 <h3>Soil Nutrition and Irrigation</h3>
                                                 <h3>Organic Fertilization</h3>
                                                 <p>The nutrient requirements of cucumber are about 140 kg nitrogen, 30 kg phosphorous and 170 kg potassium per ha. Organic growers “fertilize” the soil, where nutrients are transformed and made available for uptake by the plants  through microorganisms</p>
                                                 <h3>Irrigation</h3>
                                                 <p>Cucumber needs enough water for adequate yields. A suitable system is drop irrigation. Water the plants weekly if it does not rain.</p>
                                                 <h3>Pest and Disease Management</h3><h3>Diseases</h3><img src="{% static 'images/48.jpg' %}" align="center" width="500" height=500"></p>
                                                 <p>Several different diseases attack cucumbers. Most show up as spots on the upper or lower sides of leaves or on fruit. A wide crop rotation discourages diseases.</br>Wherever downy mildew appears, a copper spray should be considered every 14 days. Copper is considered as one of the least desirable of organic fungicides because of its soil toxicity. Therefore, annual application is limited to 4-8 kg/ha (depending on the organic standard applied).</br>Never spray in full sun (it will burn the plants).</p>
                                                 <div class="w3-black" id="contact">
                                                        <div class="inner container">
                                                  
                                                 <h3>Pest</h3>
                                                 <p>Organic growers check for Insects as often as possible.</br>Plant protection nets are used in order to prevent high infestations. Different insects attack the cucumbers including aphids, Mexican bean beetles or cucumber beetles.<p>
                                                  <h3>Weed Management</h3><img src="{% static 'images/49.png' %}" align="right" width="350" height=350"></p>
                                                  <p>Organic mulch is a good possibility if available on the farm or in the region. 
Plastic mulch is an alternative but rather expensive.</br>Manual hoeing is labor intensive but it is a very effective and secure method to regulate weeds. In manual hoeing, be careful with the superficial roots of the cucumber.</br>The use of a cover crop (e.g. hairy vetch) that competes strongly with weeds is an optimal preventive measure to avoid weed infection before cucumber harvest.</p>
                                                 <h3>Harvesting and Post Harvest Handling</h3>
                                                 <p> Harvest frequently, even when the first harvest does not cover the cost. Pick cucumbers while they are still small; this will force the vines to produce more allowing a cucumber to reach full maturity, thus producing full size mature seeds without halting plant production.</br>In harvest cucumbers that are not well formed when they reach the desired size, do not wait until they turn yellow. Yellow cucumbers are over mature and will be strong flavored and of poor quality.</p>
                                            
                                                 <div class="w3-black" id="link">
                                                        <div class="inner container">
        
                                        <h3> REFERENCES</h3>
                                        <p>Websites<br>
                                                1.<a href="https://www.agrifarming.in/tag/cucumber-cultivation-in-tamilnadu" target="_blank">Cucumber Cultivation
                                                 </a><br>
                                        </p>    
                                        <img src="{% static 'images/refer.jpg' %}" align="center" width="500" height="160">
                                        <h3>Youtube Link's</h3>
                                        <iframe  src="https://www.youtube.com/embed/yXxWxG70Ryw"></iframe>
                                        <iframe  src="https://www.youtube.com/embed/40iL1qIQnQc"></iframe>
                                        <iframe src="https://www.youtube.com/embed/rJbuzLguojE"></iframe>
                                        <iframe src="https://www.youtube.com/embed/5hbCJQFBXEU"></iframe>
                                        </p>
                            
                        
                                                </footer>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}