{% extends 'navbar2.html' %}
{% load static %}
{% block content %}
<!-- The Band Section -->
<div class="container"  id="band">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Curry Leaf Cultivation</h1>
					</header>
                                        <footer>
                        <h3>About Curry Leaf</h3>
                        Curry-leaf (Murraya Koenigil)  are derived from a handsome, aromatic more or less deciduous shurb or small tree, found almost throughout India and Andaman Islands up to an altitude of 1500 meters. It is commonly found in forests, often as a gregarious growth along the foot of the Himalayas up to Sikkim and Assam. 
                        It is also found in West Bengal, Madhya Pradesh and in the South and South Western states, namely, Maharashtra, Tamil Nadu, Kerala and Andhra Pradesh. It is much cultivated for its aromatic leaves and for ornamental value throughout India. It is native to Ceylon but universally found in the dry regionsThe curry leaf bushes are usually cultivated in one or two numbers in the home-nutrition or kitchen garden. But in south India especially in Tamil Nadu and Karnataka this is grown as a cash crop. 
                    Cultivating even in an area of half an acre fetches very sizeable income to the farmer.</br><img src="{% static 'images/50.jpg' %}" align="center" width="700" height="700"></br>It is also found in West Bengal, Madhya Pradesh and in the South and South Western states, namely, Maharashtra, Tamil Nadu, Kerala and Andhra Pradesh. 
                It is much cultivated for its aromatic leaves and for ornamental value throughout India. It is native to Ceylon but universally found in the dry regionsThe curry leaf bushes are usually cultivated in one or two numbers in the home-nutrition or kitchen garden. But in south India especially in Tamil Nadu and Karnataka this is grown as a cash crop. Cultivating even in an area of half an acre fetches very sizeable income to the farmer.</p>
                                                </div></div></div>
<!-- The Tour Section -->
<div class="w3-black" id="tour">
    <div class="inner container">

                                                 <h3>Climate and Soil:</h3><img src="{% static 'images/51.jpg' %}" align="right" width="500" height="500">
                                                <p>A small tree of the orange family, and found chiefly in the dry regions. The tree prefers light soil rich in fertility, and with cultivation will thrive up to a height of at least 2000 mts. It is propagated by seeds which are commonly available during April -May. It is commonly found in the forests growing wild. It is found in the Himalayan hills up to the range of 1500 -2000 metres. The plant is observed to grow all over India in almost all the states. It is being cultivated in some areas.</p>
                                                <h3>Propagation:</h3>
                                                <p>Curry leaf plant/tree is propagated mainly by germinating seeds. Howyver, sprouts from the roots and. root cuttings are also common. The mature fruits with seeds are collected and sown in the well prepared nursery germination bed just at the beginning of rainy season. The seedlings may be transferred to either pots or seedling beds or transplantation beds at a distance of about 1.5 to 2 ft. filled with proper compost mixture. It is advisable to plant the seedlings into the land when they are one year old.</p>
                                                <h3>Land Preparation:</h3>
                                                <p>The land for commercial cultivation is ploughed and harrowed two or three times and is cleaned from stubbles and stones. In deep, fertile and light soil transplanting is done directly in small pits. Whereas in poor and hard soil, pits are taken at the size of at least 1.5x1.5x2 ft. length, width and depth respectively. The pits are dug about six months before planting and left open to weather for few months after which they are filled with well rotten composts and green leaves.</p>
                                                <h3>Planting:</h3>
                                                <p>About 4-6 ft. between plant to plant and row to row can be maintained. Hence the pits are dug at that distance. On slopping lands, pits are made in contour lines and adequate soil and water conservation measures are adopted. We can also plant them at three feet distance between plants in the same line and six ft. distance between lines (rectangular design). Seasonal or perennial intercrops are also encouraged along with curry leaf trees.</p>
                                                 <h3>Fertilizers and Manures:</h3><p>At the time of filling the pits about 15-25 kg of compost per pit is recommended to be applied. Chemical fertilizers mixtures at the rate of 100 gms, 80 gms, and 60 gms of nirtrogen, phosphorus and potassium respectively is incorporated into the soil at the time of planting. There after about the same dose is applied at the end of rainy season. From the second year onwards NPK is raised to 250:100:80 gms per plant. Nitrogenous fertilizers are applied in more quantities to enhance vegetative growth. This is applied in two splits: at the beginning of rainy season and at the end of rainy season in addition to 10-15 kg compost.</p>
                                                  <h3> Irrigation:</h3><img src="{% static 'images/52.jpg' %}" align="center" width="700" height="500">
                                                 <p> If irrigation facilities are there the plants should be regularly irrigated. However moisture conservation techniques should be adopted both to conserve rain water or irrigation water. Mulching is an advantageous practice. At the same time adequate drainage facilities are provided.</p>
                                                 <h3>Interculture:</h3>
                                                 <p>Weeding and other intercultural operations are done as and when needed. Hoeing and weeding at the middle and end of rainy season and at the end of winter season will be sufficient.</p>
                                                <h3>Diseases and Pests:</h3>
                                                <p>Fortunately, curry leaf plant is not seriously infected by diseases and pests. If needed very mild pesticides can be used at least 15 days before harvesting of leaves. If there are chances of incidence a preventive spray of malathion or tobacco decoction, etc could be sprayed. For controlling soil borne pests and diseases 1-2 kg of neem cake per plant per year is recommended.</p>
                                                <div class="w3-black" id="contact">
                                                    <div class="inner container">
                                            
                                                <h3>Harvesting:</h3><img src="{% static 'images/53.jpg' %}" align="center" width="1000" height="500">
                                                <p>The pruning or topping is also a part of harvesting of leaves. The leaf quality will decrease if the plant is allowed to flower and fruit. So unless seed production is not indented, pruning and harvesting of leaves should be done before flowering. Similarly where there is winter harvesting is done be- fore the leaves start shedding. Harvested leaves are graded, bundled and marketed or sent to processing units for extraction of oil.<p>
                                             
                                                    <div class="w3-black" id="link">
                                                        <div class="inner container">
                                                 
                                                    <h3> REFERENCES</h3>
                                                    <p>Websites<br>
                                                        1.<a href="https://www.indiaagronet.com/indiaagronet/horticulture/CONTENTS/Curry%20Leaf.htm" target="_blank">Curry Cultivation</a>
                                                    </p>    
                                                    <img src="{% static 'images/refer.jpg' %}" align="center" width="500" height="160">
                                                    <h3>Youtube Link's</h3>
                                                    <iframe  src="https://www.youtube.com/embed/3hrGgb1nL5Q"></iframe>
                                                    <iframe  src="https://www.youtube.com/embed/ZhIVnRgsDOc"></iframe>
                                                    <iframe src="https://www.youtube.com/embed/zwzp73EdLhU"></iframe>
                                                    <iframe src="https://www.youtube.com/embed/EiwUCxz3Ins"></iframe>
                                                    </p>
                                                 
                                             
                                             
                        
                                                </footer>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}