{% extends 'navbar.html' %}
{% load static %}

{% block content %}  

<div class="container" >
    <div class="jumbotron text-center" style="background-color:greenyellow;box-shadow: 10px 10px 20px 12px darkgreen inset;">

<div class="row"><div class="col-md-2"></div>
<div class="col-md-10.8">
    <h1 style="color: darkgreen;">Wholesome Tillage Web Based Application</h1>
    <p class="lead" style="color:forestgreen;">Welcome to our Wholesome Tillage</p>
    <div>
        {% if user.is_authenticated %}
        <a  class="btn btn-success" href = "{% url 'dashboard' %}">Cultivation</a>&nbsp;
        <a  class="btn btn-success"href="{% url 'update' user.id %}">Profile</a>&nbsp;
        <a  class="btn btn-success"href="{% url 'soilview' %}">Soil</a>&nbsp;
        <a  class="btn btn-success" href="{% url 'logout' %}">Logout</a>&nbsp;
        {% endif %}
    </div>
</div>
</div>
</div>
    <div class="row">
    <div class="col-md-4">
        <h3><b>Importance of Wholesome Tillage</b></h3><hr style=" border: 2px solid greenyellow;border-radius: 5px;">
        <p>Wholesome Tillage yields such vital benefits as preservation of soil's organic composition. Organic farmers utilize practices that: Maintain and improve fertility, soil structure and biodiversity, and reduce erosion. Reduce the risks of human, animal, and environmental exposure to toxic materials.</p>
    </div>
    <div class="col-md-4">
        <h3><b>Objective of Wholesome Tillage</b></h3><hr style=" border: 2px solid greenyellow;border-radius: 5px;">
        <p>The aim of Wholesome Tillage is to establish and maintain soil-plant, plant- animal and animal soil interdependence and to create a sustainable agro- ecological system based on local resources, approaching in this way the concept of functional integrity of systems.</p>
    </div>
    <div class="col-md-4">
        <h3><b>Requirments for our WebApplication</b></h3><hr style=" border: 2px solid greenyellow;border-radius: 5px;">
        <h6>Front End : <b>HTML,CSS,Bootstrap</b></h6>
        <h6>Back End : <b>Django</b></h6>
        <h6>Database : <b>Mysql</b></h6>
        <p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites.

        </p>
    </div>
</div>
</div>

{% endblock %}