{% extends 'navbar2.html' %}
{% load static %}
{% block content %}
<!-- The Band Section -->
<div class="container"  id="band">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Lettuce Cultivation</h1>
					</header>
                                        <footer>
						<h3>About Lettuce</h3>
                                                 <p>Lettuce (Lactuca sativa), which includes loose leaf and heading types, is a member of the Asteraceae family. “Leafy greens” or “greens” are broad terms used for a number of vegetable crops with edible leaves. Plants in this group belong to several unrelated taxonomic plant families that include Asteraceae, Brassicaceae, and Chenopodiaceae. Most lettuce and greens are cool-season crops that are planted in early spring or late summer in Kentucky. High tunnels can be used to extend the season.</p>
                                                <img src="{% static 'images/54.jpg' %}" align="center" width="700" height="700">
                                                <h3>Types:</h3>
                                                <p><b>Batavian lettuces are somewhat more open than icebergs, but form a distinct head nevertheless; they tend to be more flavorful than iceberg.</p>
                                                <img src="{% static 'images/55.jpg' %}" align="center" width="700" height="700">
                                                <p>Romaine  types are upright and deep-colored, with a robust flavor and somewhat coarse texture.</p>
						<img src="{% static 'images/56.jpg' %}" align="center" width="700" height="700">
 						<p>Bibb  varieties are low-growing, tender, and sweet, forming a small, loose head as they approach maturity.  Bibbs are sometimes called “Boston lettuce” or “Butter lettuce.”</p>
						<img src="{% static 'images/57.jpg' %}" align="center" width="700" height="700">
						<p>Smooth-leaf lettuces are open-growing and tender, with generally pale leaves and delicate flavor when young.</p>
 						<img src="{% static 'images/58.jpg' %}" align="center" width="700" height="700">
						<p>Crinkle-leaf sorts are similar to smooth-leaf lettuces except that their leaves are more “frilly” and their flavor is often slightly more pronounced.</b></p>
					</div></div></div>
					<!-- The Tour Section -->
					<div class="w3-black" id="tour">
						<div class="inner container">
					


						<h3>Soil Preparation</h3>
                                                <p>Lettuce prefers a sandy-loam soil high in organic matter.  Lettuce is sensitive to soil acidity; lime should be added, if necessary, to adjust the pH to 6.5-7.0.  Lettuce is also sensitive to excess salts, especially at germination.  If the previous crop was heavily fertilized, leaching the soil through heavy irrigation might be advisable.  Field-grown lettuce, especially, requires good drainage to avoid certain fungal diseases such as bottom rot.</p>
                                                <h3>Propagation</h3><img src="{% static 'images/59.jpg' %}" align="right" width="700" height="700">
                                                <p>Lettuce production frequently entails transplanting.  There are a variety of methods for raising transplants.  Most growers prefer plug trays for seedling production.  Since the potting mix does not have to be screened thoroughly, as blocking mixes do, commercially available organic potting soil products can be used. .  Lettuce seed germinates better if left uncovered. Germination temperature should be between 15 and 18°C (60-65°F), with relative humidity around 70 %.</p>
                                                <h3>Crop Scheduling</h3>
                                                <p>1-10 days -> sow every 3 1/2 days</br>10-18 days -> sow every 2 days</br>18-40 days -> sow every 3 1/2 days</br>40-75 days -> sow every 7 days</br> 75-105 days -> sow every 10 days</p>
<p>Dutch growers space lettuces at 15 to 20 plants per square yard.  The growing period determines the actual density.  A 12" x 12" spacing equates to approximately 16 plants per square yard, while a 10" x 10" spacing is 20 plants per square yard.  The tighter spacing is used in the slower growing period of winter.  Equal spacing between plants and between rows produces more uniform heads.</p>
                                                 <h3>Pest Management: Insects</h3><p>Young plants are sometimes subject to pressure from flea beetles.  Arugula seems especially attractive to this pest.  The most effective non-chemical control is a light row cover such as Agribon+™ AG-12 insect barrier, which can exclude most pests while providing a more sheltered microclimate.  To learn about a wider range of control options, ask for ATTRA’s Flea Beetle: Organic Control Options publication.  For additional information about types and sources of row covers, see ATTRA’s Season Extension Techniques for Market Gardeners.</p>
                                                  <h3> Pest Management: Diseases</h3>
                                                 <p>While few diseases other than damping-off affect young lettuces and greens, older plants face more challenges.  The limited number of fungicides and other disease control agents available to organic growers makes disease prevention crucial in organic production.</br>The cool moist conditions typical of fall and spring production may encourage diseases in the field.  Sclerotinia drop is caused by fungi that attack the lower leaves in contact with the soil, producing a cottony growth.</p>
                                                 <h3>Pest Management: Weeds</h3>
                                                 <p>Crop rotations that include careful selection of cover crops can go a long way in reducing weeds in vegetable crops.  In some instances, the residues of cover crops are left in place and the crop is seeded or transplanted into it.  The residue mulch conserves moisture, reduces erosion, and may suppress weeds through smothering (if the residue cover is dense) and through allelopathy.  (Allelopathy refers to natural chemicals in some crop residues that suppress weed seed germination; rye straw is especially well noted for this characteristic.)  The sensitivity of small-seeded crops like lettuce, however, may require extra pains in making such systems work well.</p>

												 <div class="w3-black" id="contact">
                                                    <div class="inner container">
                                
												 <h3>Harvesting</h3><img src="{% static 'images/60.jpg' %}" align="center" width="700" height="500">
                                                <p>Small-scale production usually entails laborious hand-cutting of greens using a sharp knife.  In recent years, however, some small greens harvesters have come onto the market.  While specialty lettuces command higher prices than ordinary iceberg, they also demand specialty handling.  They should be immersed in near-freezing water almost immediately after harvest. Rapid removal of field heat is essential to maintaining product quality, and is a key element of professional handling.</p>
								
												<div class="w3-black" id="link">
													<div class="inner container">
											 
												<h3> REFERENCES</h3>
												<p>Websites<br>
													1.<a href="https://www.agrifarming.in/tag/lettuce-cultivation-in-tamil" target="_blank">Lettuce Cultivation</a>
												</p>    
												<img src="{% static 'images/refer.jpg' %}" align="center" width="500" height="160">
												<h3>Youtube Link's</h3>
												<iframe  src="https://www.youtube.com/embed/HQbvoW5GWQU"></iframe>
												<iframe  src="https://www.youtube.com/embed/w11--OF_lME"></iframe>
												<iframe src="https://www.youtube.com/embed/C-2RNbN2w1k"></iframe>
												<iframe src="https://www.youtube.com/embed/RXSt0LjM3Ck"></iframe>
												</p>
											 
								
											</footer>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}