{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wholesome Tillage</title>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <style>
            body{
                 background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
            }
        </style>
    
        
</head>
<body>
    <nav class="navbar navbar-default" style="background-color:lightslategray">
        <div class="container">
            <div class="navbar-header">
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                  </button> -->
                  
                  <a href="{% url 'home' %}" class="navbar-brand" style="color:khaki;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;"><b>Organic Farming</b></a>
            </div>
                    {% if user.is_authenticated %}
                   <li><a href="{% url 'dashboard' %}" class="navbar-brand" style="color:white;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;"><font size = "+1">Cultivation</font></a>
                    <a href="{% url 'update' user.id %}" class="navbar-brand" style="color:white;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;"><font size = "+1">Profile</font></a>  
                    <a href="{% url 'soilview' %}" class="navbar-brand" style="color:white;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;"><font size = "+1">Soil</font></a>  
                    <a href="{% url 'logout' %}" class="navbar-brand" style="color:white;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold;"><font size="+1">Logout</font></a></li>
                    {% endif %}
                </ul>      
            </div>
        </div>
    </nav>
    
    <hr>
    {% block content %}
    {% endblock %}
    

</div>
<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>
    
</body>
</html>
